@import 'tailwindcss';

.menu-link {
  @apply flex items-center mx-4 rounded-(--radius-btn) cursor-pointer transition-colors duration-200 outline-none overflow-hidden;
  color: var(--text-aux);
  background-color: transparent;
  text-decoration: none;
}

.menu-link:hover {
  background-color: var(--bg-surface-hover);
  color: var(--text-main);
}

.active {
  background-color: var(--primary-light);
  color: var(--primary-base);
  font-weight: 600;
}

.active span, .active svg {
  color: var(--primary-base);
}
