<div class="flex flex-col">

  <div class="flex items-center justify-end mb-4 w-full h-10 gap-2">
    <div class="flex items-center overflow-hidden transition-all duration-300 ease-in-out"
         [ngClass]="isSearchOpen ? 'w-full opacity-100' : 'w-0 opacity-0'">
      <input type="text"
             placeholder="Buscar por cpf, nome ou cnpj"
             class="w-full bg-(--bg-surface-hover) border border-(--border-neutral) rounded-md px-3 py-2 text-sm text-(--text-main) placeholder:text-(--text-aux) outline-none focus:border-(--primary-base)" />
    </div>

    <div class="flex items-center gap-2 shrink-0">

      <button appButton variant="surface" size="icon" (click)="toggleSearch()">
        @if (isSearchOpen) {
          <svg lucideX class="w-4 h-4 text-red-500"></svg>
        } @else {
          <svg lucideSearch class="w-4 h-4"></svg>
        }
      </button>

      @if (!isSearchOpen) {
        <button appButton variant="surface" size="icon">
          <svg lucideFunnel class="w-4 h-4"></svg>
        </button>
      }

    </div>
  </div>

  <div class="flex flex-col gap-2 pb-2">

    @for (cliente of visibleClients; track cliente.id) {
      <div (click)="selecionarCliente(cliente)"
           class="card-interactive flex justify-between p-3 transition-all duration-200 cursor-pointer"
           [ngClass]="{'border-(--primary-base) bg-(--primary-light)': cliente.selecionado}">

        <div class="flex items-start gap-3">
          <div class="w-8 h-8 rounded-full bg-(--border-hover) shrink-0"></div>

          <div class="flex flex-col">
            <span class="text-sm font-semibold text-(--text-main)">{{ cliente.name }}</span>
            <span class="text-xs text-(--text-aux)">{{ cliente.cpfNumber }}</span>
          </div>
        </div>

        <div class="flex flex-col items-end justify-between">
          <button class="text-(--text-aux) hover:text-(--primary-base) focus:outline-none mb-1" (click)="$event.stopPropagation()">
            <svg lucideEllipsis class="w-4 h-4"></svg>
          </button>

          <button appButton variant="surface" size="icon" class="w-6 h-6 p-1 rounded" (click)="$event.stopPropagation()">
            <svg lucideArrowRight class="w-3 h-3"></svg>
          </button>
        </div>
      </div>
    } @empty {
      <div class="flex items-center justify-center p-6 text-(--text-aux) text-sm text-center border-2 border-dashed border-(--border-neutral) rounded-(--radius-card)">
        Nenhum cliente encontrado.
      </div>
    }

  </div>

  <div class="flex items-center justify-center gap-2 mt-2 w-full">

    @if (currentBlock > 0) {
      <button appButton variant="surface" size="icon"
              class="w-8 h-8 p-1 rounded-md"
              (click)="blocoAnterior()">
        <svg lucideArrowLeft class="w-4 h-4"></svg>
      </button>
    }

    @for (pagina of paginasVisiveis; track pagina) {
      <button appButton
              [variant]="currentBlock === pagina ? 'primary' : 'surface'"
              size="icon"
              class="w-8 h-8 p-1 rounded-md transition-colors"
              (click)="mudarPagina(pagina)">
        <span class="text-sm font-medium">{{ pagina }}</span>
      </button>
    }

    @if (temProximoBloco) {
      <button appButton variant="surface" size="icon"
              class="w-8 h-8 p-1 rounded-md"
              (click)="proximoBloco()">
        <svg lucideArrowRight class="w-4 h-4"></svg>
      </button>
    }

  </div>
</div>
