<div class="content-interface management-client-container">
  <header class="header-container">
    <h1 class="txt-h1">Clientes</h1>
    <button appButton variant="primary" routerLink="/home/clientes/cadastro">Novo cliente</button>
  </header>

  <div class="flex-1 flex min-h-0" style="gap: var(--space-layout)">
    <aside class="aside-container">
      @if (page$ | async; as pageData) {
        <app-generic-list class="flex-1 flex flex-col min-h-0"
          [items]="pageData.content"
          [totalItems]="pageData.totalElements"
          [currentPage]="currentPage"
          altText="Nenhum client não encontrado."
          (searchChanged)="applyFilters($event)"
          (pageChanged)="swappedPage($event)"
          (viewDetails)="viewDetails($event)"
          (deactivate)="deactivateClient($event)"
          (edit)="editClient($event)"
          (activate)="activateClient($event)">
        </app-generic-list>
      } @else {
        <div class="flex justify-center p-8">
          <p class="text-gray-500">Buscando clientes...</p>
        </div>
      }
    </aside>

    <main class="main-container">
      @if (clientDetails$ | async; as details) {
        <app-details-layout-component class="h-full">
          <app-person-details-header
            details-header
            [id]="details.id"
            [name]="details.legalName"
            [documentNumber]="details.documentNumber"
            [status]="details.status"
            (editClient)="editClient($event)">
          </app-person-details-header>

          <div details-body class="flex flex-col gap-4">
            <div class="grid grid-cols-3 gap-4">
              <app-person-basic-info-card
                [gender]="details.gender"
                [phone]="details.phone"
                [email]="details.email"
                [dataValue]="details.dateValue"
                [dataLabel]="details.dateLabel"
                [documentNumber]="details.documentNumber"
                [documentLabel]="details.documentLabel"
                [personType]="details.personType">
              </app-person-basic-info-card>

              <app-person-address-info
                [zipCode]="details.address.zipCode"
                [street]="details.address.street"
                [neighborhood]="details.address.neighborhood"
                [city]="details.address.city"
                [houseNumber]="details.address.number"
                [state]="details.address.state">
              </app-person-address-info>

              <app-attachments-card
                [attachments]="details.attachments">
              </app-attachments-card>
            </div>
          </div>
        </app-details-layout-component>
      }
      @else {
        <div class="card card-details-container">
          <div class="empty-state">Selecione um cliente na lista para ver os detalhes.</div>
        </div>
      }
    </main>
  </div>
</div>
