# --- IDEs and Editors (Global) ---
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/
*.sublime-workspace
.project
.classpath
.settings/
*.launch

# --- Backend (Spring Boot / Java) ---
backend/target/
backend/out/
backend/*.class
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# --- Frontend (Angular / Node) ---
# Compiled output
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/

# Dependencies
frontend/node_modules/

# Angular cache & logs
frontend/.angular/cache
frontend/npm-debug.log
frontend/yarn-error.log
frontend/connect.lock
frontend/coverage
frontend/testem.log
frontend/.sass-cache/

# --- System Files (Global) ---
.DS_Store
Thumbs.db
