<div class="flex flex-col gap-6 w-full">

  <div class="flex justify-between items-start w-full">
    <h1 class="txt-h1">Dashboard</h1>

    <button class="flex items-center gap-2 px-4 py-2 bg-[var(--white-background)] border border-[var(--border-light)] rounded-[8px] hover:bg-[var(--surface-base)] transition-colors shadow-sm">
      <svg lucideArrowDown  class="w-5 h-5"></svg>
      <span class="txt-body">Janeiro</span>
    </button>
  </div>

  <div class="grid grid-cols-2 gap-6 w-full">

    <app-card-box>
      <p class="text-center text-[var(--placeholder-txt)] py-20">Gráfico Receita 1</p>
    </app-card-box>

    <app-card-box>
      <p class="text-center text-[var(--placeholder-txt)] py-20">Gráfico Receita 2</p>
    </app-card-box>

    <app-card-box>
      <p class="text-center text-[var(--placeholder-txt)] py-20">Gráfico Receita 3</p>
    </app-card-box>

    <app-card-box>
      <p class="text-center text-[var(--placeholder-txt)] py-20">Gráfico Receita 4</p>
    </app-card-box>

    <app-card-box>
      <p class="text-center text-[var(--placeholder-txt)] py-20">Gráfico Receita 5 (Teste Scroll)</p>
    </app-card-box>

    <app-card-box>
      <p class="text-center text-[var(--placeholder-txt)] py-20">Gráfico Receita 6 (Teste Scroll)</p>
    </app-card-box>

  </div>

</div>
