<nav>
  <ul class="flex flex-col gap-2">
    <li>
      <a routerLink="/home/dashboard" routerLinkActive="active" class="menu-link">
        <svg lucideHome class="w-5 h-5"></svg>
        <span class="txt-body">Dashboard</span>
      </a>
    </li>

    <li>
      <a routerLink="/home/logistica" routerLinkActive="active" class="menu-link">
        <svg lucideTruck class="w-5 h-5"></svg>
        <span class="txt-body">Logística</span>
      </a>
    </li>

    <li>
      <a routerLink="/home/vendas" routerLinkActive="active" class="menu-link">
        <svg lucideShoppingCart class="w-5 h-5"></svg>
        <span class="txt-body">Vendas</span>
      </a>
    </li>

    <li>
      <a routerLink="/home/financeiro" routerLinkActive="active" class="menu-link">
        <svg lucideDollarSign class="w-5 h-5"></svg>
        <span class="txt-body">Financeiro</span>
      </a>
    </li>

    <li>
      <a routerLink="/home/cadastros" routerLinkActive="active" class="menu-link">
        <svg lucideUsers class="w-5 h-5"></svg>
        <span class="txt-body">Cadastros</span>
      </a>
    </li>
  </ul>
</nav>


