<div class="card h-full w-full flex flex-col gap-6 p-6 overflow-hidden">

  <app-person-details-header
  [name]="person.legalName"
  [documentNumber]="documentNumber"
  [status]="person.status">
  </app-person-details-header>

  <div class="flex-1 flex flex-col gap-4 overflow-y-auto scrollbar-hide pb-4">
    <div class="grid grid-cols-3 gap-4">

      <app-person-basic-info-card
        [gender]="gender"
        [phone]="person.phone"
        [email]="person.email"
        [dataValue]="dateValue"
        [dataLabel]="dateLabel"
        [documentNumber]="documentNumber"
        [documentLabel]="documentLabel"
        [personType]="person.personType">
      </app-person-basic-info-card>

      <app-person-address-info
        [zipCode]="person.address.zipCode"
        [street]="person.address.street"
        [neighborhood]="person.address.neighborhood"
        [city]="person.address.city"
        [houseNumber]="person.address.number">
      </app-person-address-info>

      <app-attachments-card
        [attachments]="attachments">
      </app-attachments-card>
    </div>

    <div class="border border-(--border-neutral) rounded-(--radius-card) p-4 min-h-32 bg-(--bg-surface-hover) border-dashed flex items-center justify-center shrink-0">
      <span class="text-xs text-(--text-aux)">Espaço reservado (Gráficos/Dashboard do Cliente)</span>
    </div>

    <div class="border border-(--border-neutral) rounded-(--radius-card) p-4 min-h-32 bg-(--bg-surface-hover) border-dashed flex items-center justify-center shrink-0">
      <span class="text-xs text-(--text-aux)">Histórico de Atividades / Contratos</span>
    </div>
  </div>
</div>
