<app-page-header class="shrink-0 z-10">
  <nav class="flex gap-8 h-full">
    <a
      routerLink="gestao"
      routerLinkActive="!border-[var(--primary-base)] !text-[var(--primary-base)]"
      class="flex items-center h-full border-b-[3px] border-transparent text-(--text-aux) hover:text-(--text-main) font-semibold cursor-pointer transition-colors"
    >
      Gestão de clientes
    </a>

    <a
      routerLink="demograficos"
      routerLinkActive="!border-[var(--primary-base)] !text-[var(--primary-base)]"
      class="flex items-center h-full border-b-[3px] border-transparent text-(--text-aux) hover:text-(--text-main) font-semibold cursor-pointer transition-colors"
    >
      Dados demográficos
    </a>
  </nav>
</app-page-header>

<router-outlet></router-outlet>
