@use "tailwind-ref";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.component-header {
  @apply shrink-0 z-10 w-full bg-(--bg-app);
}

.deactivate-link {
  @apply flex items-center h-full border-b-[3px] border-transparent text-(--text-aux) hover:text-(--text-main) font-semibold cursor-pointer transition-colors;
}
