<form [formGroup]="masterForm" (ngSubmit)="save()" class="flex gap-8 items-start w-full">
  <app-stepper-layout
    [steps]="['Informações Básicas', 'Dados Específicos', 'Localização']"
    [currentStep]="currentPage"
    [nextDisabled]="currentPage === 1 ? basicInfoGroup.invalid : (currentPage === 2 ? specificDataGroup.invalid : addressGroup.invalid)"
    [submitDisabled]="masterForm.invalid"
    [isSubmitting]="isSubmitting"
    (next)="nextPage()"
    (back)="backPage()"
    (cancel)="cancel()"
  >
    @switch (currentPage) {
      @case (1) {
        <h3 class="txt-h2 mb-6">Informações Básicas</h3>
        <app-person-form [group]="basicInfoGroup"></app-person-form>
      }
      @case (2) {
        <h3 class="txt-h2 mb-6">Dados Específicos</h3>
        @if (personType === 'NATURAL') {
          <app-natural-person-form-component [group]="specificDataGroup"></app-natural-person-form-component>
        } @else {
          <app-juridic-person-form [group]="specificDataGroup"></app-juridic-person-form>
        }
      }
      @case (3) {
        <h3 class="txt-h2 mb-6">Endereço</h3>
        <app-address-form [group]="addressGroup"></app-address-form>
      }
    }
  </app-stepper-layout>
</form>
