<div class="fixed top-5 right-5 z-50 flex flex-col gap-3">
  @for (toast of toasts; track toast.id) {
    <div
      class="min-w-[250px] px-4 py-3 rounded shadow-lg text-white font-medium flex justify-between items-center transition-all duration-300"
      [class.bg-red-500]="toast.type === 'error'"
      [class.bg-yellow-500]="toast.type === 'warning'"
      [class.bg-green-500]="toast.type === 'success'"
    >
      <span>{{ toast.message }}</span>

      <button (click)="remove(toast.id)" class="text-white hover:text-gray-200 ml-4">✕</button>
    </div>
  }
</div>
