@import 'tailwindcss';

:root {
  --bg-app: #edf3fb;
  --bg-surface: #ffffff;
  --bg-surface-hover: #f9fafb;

  --primary-base: #16a34a;
  --primary-hover: #15803d;
  --primary-light: #dcfce7;

  --red-alert: #E53935;
  --primary-red-alert: #FFEBEE;

  --text-main: #111827;
  --text-aux: #6b7280;

  --border-neutral: #e5e7eb;
  --border-hover: #d1d5db;
  --space-layout: 1.5rem;
  --space-content: 1rem;
  --space-sm: 0.5rem;

  --border-width: 1px;
  --radius-card: 12px;
  --radius-btn: 8px;

  --shadow-card: 0px 4px 6px -1px rgba(0, 0, 0, 0.05), 0px 2px 4px -1px rgba(0, 0, 0, 0.03);
  --shadow-btn: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

body {
  @apply antialiased min-h-screen;
  font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  background-color: var(--bg-app);
  color: var(--text-main);
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.txt-h1 {
  @apply text-3xl font-bold tracking-tight;
  color: var(--text-main);
}

.txt-h2 {
  @apply text-xl font-semibold;
  color: var(--text-main);
}

.txt-body {
  @apply text-base font-normal;
  color: var(--text-main);
}

.txt-label {
  @apply text-xs font-semibold tracking-wider;
  color: var(--text-aux);
}

.txt-aux {
  @apply text-sm font-normal;
  color: var(--text-aux);
}

.txt-tag {
  @apply text-xs font-semibold uppercase tracking-wider;
  color: var(--text-aux);
}

.content-interface {
  padding: var(--space-layout);
  width: 100%;
  height: 100%;
}

.interface-flex-collum {
  display: flex;
  flex-direction: column;
  gap: var(--space-layout);
}

.interface-flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--space-layout);
}

.card {
  background-color: var(--bg-surface);
  border: var(--border-width) solid var(--border-neutral);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  padding: var(--space-content);
}

.card-interactive {
  @apply cursor-pointer transition-colors duration-200;
  background-color: var(--bg-surface);
  border: var(--border-width) solid var(--border-neutral);
  border-radius: var(--radius-card);
  padding: var(--space-content);
}

.card-interactive:hover {
  background-color: var(--bg-surface-hover);
  border-color: var(--border-hover);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border-hover) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border-hover);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--border-hover);
  }
}
