<div class="border border-(--border-neutral) rounded-(--radius-card) p-4 flex flex-col gap-3">
  <h3 class="text-sm font-semibold text-(--text-main) mb-1">Caf</h3>
  <div class="flex gap-3 items-start">
    <svg lucideFileText class="w-4 h-4 text-(--text-aux) mt-0.5 shrink-0"></svg>
    <div class="flex flex-col">
      <span class="text-xs text-(--text-aux)">Caf</span>
      <span class="text-sm font-medium text-(--text-main)">{{ caf }}</span>
    </div>
  </div>
  <div class="flex gap-3 items-start">
    <svg lucideCalendar class="w-4 h-4 text-(--text-aux) mt-0.5 shrink-0"></svg>
    <div class="flex flex-col">
      <span class="text-xs text-(--text-aux)">Validade</span>
      <span class="text-sm font-medium text-(--text-main)">{{ validade }}</span>
    </div>
  </div>
</div>
